# Chặn các thư mục thư viện ở cả 2 bên
node_modules/
client/node_modules/
server/node_modules/

# Chặn các file chứa mật khẩu bí mật
.env
server/.env

# Chặn các file build của Frontend
client/dist/
client/build/

# Chặn các file rác của hệ điều hành
.DS_Store
Thumbs.db