# Các thư viện tải về (rất nặng, không cần đẩy lên)
node_modules/
client/node_modules/
server/node_modules/

# File chứa cấu hình bảo mật (Mật khẩu DB, JWT Secret...)
.env
.env.local
server/.env

# Các file rác của hệ điều hành hoặc IDE
.vscode/
.idea/
.DS_Store
dist/
build/